[Unit]
Description=Abook Web UI
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --plugin python -w abook.web.application:app --master --processes 4 --enable-threads --uid nobody --gid nobody --catch-exceptions -s 127.0.0.1:3031
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
